Repository riyanimam/typescript-lambda-example: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, markdown-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-check:
      glob: "*.{ts,mts,js,mjs,json}"
      run: npx biome check --write {staged_files}
      stage_fixed: true
    markdown-lint:
      glob: "*.md"
      run: npx markdownlint --fix {staged_files}
      stage_fixed: true
    trailing-whitespace:
      run: |
        git diff --cached --name-only --diff-filter=ACM | while read -r file; do
          sed -i 's/[[:space:]]*$//' "$file"
        done
      stage_fixed: true

pre-push:
  commands:
    tests:
      run: npm test
    build:
      run: npm run build

fix: remove Jest types from tsconfig and add mssql types
  package-lock.json
  package.json
  src/s3-to-mssql.mts
  tsconfig.json
Due: biome-check

chore: add README badges and update packages to latest
  README.md
  biome.json
  lefthook.yml
  package-lock.json
  package.json
Due: biome-check, markdown-lint

refactor: migrate from npm to pnpm
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/security.yml
  .github/workflows/semantic-release.yml
  CHANGELOG.md
  DEVELOPMENT.md
  README.md
  lefthook.yml
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: biome-check, markdown-lint

chore: upgrade to pnpm 10.28.1
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/security.yml
  .github/workflows/semantic-release.yml
  CHANGELOG.md
  DEVELOPMENT.md
  README.md
  package.json
Due: biome-check, markdown-lint

chore: remove unnecessary NPM_TOKEN from semantic-release
  .github/workflows/semantic-release.yml
Due: none

fix: remove explicit pnpm version from workflows
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/security.yml
  .github/workflows/semantic-release.yml
Due: none

fix: correct PR title validation types format
  .github/workflows/validate-pr-title.yml
Due: none

fix: resolve @azure/identity security vulnerability
  .github/workflows/security.yml
  package.json
  pnpm-lock.yaml
Due: biome-check

chore: update to latest Node.js versions
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/security.yml
  .github/workflows/semantic-release.yml
  DEVELOPMENT.md
  README.md
Due: markdown-lint

fix: add repository field to package.json
  package.json
Due: biome-check

fix: update repository URL to typescript-lambda-template
  package.json
Due: biome-check

fix: Update semantic-release config to use pnpm-lock.yaml
  .releaserc.json
Due: biome-check

fix: Add missing conventional-changelog-conventionalcommits dependency
  package.json
Due: biome-check

chore: Update pnpm lockfile with conventional-changelog-conventionalcommits dependency
  pnpm-lock.yaml
Due: none

fix: Exclude auto-generated CHANGELOG.md from markdown linting
  lefthook.yml
Due: none

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: biome-check, markdown-lint

Notes added by 'git notes add'
  35274c34a83ee4fd64d6e3b3be14a2370230bf8c
Due: none
